@use "../../../../public/styles/colors.scss";

header {
    background-color: colors.$color-fondo;
    border: 3px solid colors.$color-disponible;
    color: colors.$color-texto;
    padding: 10px;
    margin-top: 10px;
    max-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);

    h1 {
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        color: colors.$color-disponible;
    }

    nav {
        display: flex;
        align-items: center;

        a {
            color: colors.$color-texto;
            text-decoration: none;
            margin: 0 15px;
            position: relative;
            transition: color 0.3s;

            &:hover {
                color: colors.$color-disponible;

                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: -5px;
                    height: 2px;
                    width: 100%;
                    background: colors.$color-disponible;
                    transform: translateX(-50%);
                    transition: width 0.3s;
                }
            }
        }

        .usuario {
            display: flex; 
            align-items: center; 
            position: relative;

            .logout-button {
                background-color: transparent; 
                border: none; 
                cursor: pointer;
                padding: 5px; 
                transition: transform 0.3s; 

                &:hover {
                    transform: scale(1.1); 
                }
            }

            .userlogo {
                width: 24px;
                height: 24px; 
                border-radius: 5px;
                transition: opacity 0.3s; 

                &:hover {
                    opacity: 0.8; 
                }
            }
        }
    }
}
