$color-fondo: rgba(10, 10, 10, 0.9);
$color-borde: rgb(0, 255, 255);
$color-texto: #ffffff; 
$color-desabilitada: rgba(255, 0, 0, 0.8);
$color-disponible: rgba(0, 255, 0, 0.8); 
$color-acciones: rgba(255, 255, 255, 0.5); 
$color-hover: rgba(0, 255, 255, 0.5);  
$color-hover2: rgba(57, 255, 20, 0.3);